html, body {
    background: #202020;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

canvas {
    display: block;
}

#time {
    background: hsla(0, 100%, 100%, 0.2);
    height: 200px;
    font-size: 100px;
    line-height: 200px;
    position: absolute;
    text-align: center;
    width: 100%;
}
